@mixin someCss () {
    width: 25%;
    box-sizing: border-box;
}
@mixin subdiv (){
    width: 25%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.mainDiv {
    width: 90%;
    height: 15vh;
    box-shadow: 1px 1px 10px gray;
    margin-left: 5%;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    &:hover{
        background-color: rgba(200,200,200,0.4);
    }
    .companynameDiv{
        @include someCss;
        display: flex;
        justify-content: center;
        align-items: center;
        .image1{
            height: 90%;
            width:auto;
        }
    }
    .durationDiv{
        width:50%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        .subdiv1{
            @include subdiv;
            
        }
        .subdiv2{
            @include subdiv;
            width: 50% !important;
            position: relative;
            .image2
            {
                width: 100%;
            }
            .span1{
                position:absolute;
                top: 35%;
                font-size: 80%;
                color:gray;
            }
            .span2{
                position: absolute;
                bottom: 35%;
                font-size: 80%;
                color:gray;
            }

        }
        .subdiv3{
            @include subdiv;

        }
        .durationSpan {
            width: 100%;
            height: 20%;
            box-sizing: border-box;
            text-align: center;
            font-family:Verdana, Geneva, Tahoma, sans-serif; 
            font-size: small;
            font-weight: 500;
        }
    }
   
    .priceDiv{
        @include someCss;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color:red;
        font-size: 5vw;
    }

}