.mainDiv{

    position: fixed;
    width:90vw;
    position:fixed;
    left:5vw;
    top:2vh;
    display: flex;
    flex-direction: column;

    .filterDiv{
        height:20vh;
        width: 90vw;
        position: relative;
       .selectDiv{
        height: 20vh;
        width:20vw;
        display: flex;
        align-items: center;
        justify-content: center;
                .selectList{
            height: 5vh;
            width: 15vw; 
            max-width:180px;
        }
      }
      .optionsDiv{
        height: 20vh;
        width: 70vw;
        position: absolute;
        top:0;
        left: 20vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .from {
            width: 20%;
        }
        .to {
            width:20%;
        }
    
       }
        
    }    
.div11{
    width: 90vw;
    height: 80vh;
    top:20vh;
    left:5vw;
    overflow: auto;
}

}
