.mainDiv{

    width:90vw;
    position:fixed;
    left:5vw;
    top:2vh;
    display: flex;
    flex-direction: column;

    .loadingDiv{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .centerDiv{
            width: 10vw;
            aspect-ratio: 1;
            border: 1px solid black;
        }
    }

    .filterDiv{
        height:20vh;
        width: 90vw;
        position: relative;
       .selectDiv{
        height: 20vh;
        width:20vw;
        display: flex;
        align-items: center;
        justify-content: center;
                .selectList{
            height: 5vh;
            width: 15vw; 
            max-width:180px;
        }
      }
      .optionsDiv{
        height: 20vh;
        width: 70vw;
        position: absolute;
        top:0;
        left: 20vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .searchButton{
            height: 5vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .searchIcon{
                height:2.5vh;
                aspect-ratio: 1;
                display: inline-block;
            }
        }
        .from {
            width:20%;
        }
        .to {
            width:20%;
        }
        .departuredate{
            width:25%;
        }
        .returndate{
            width:25%;
        }
       }
        
    }

    .baslikDiv{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .ticketH{
            margin-left:5%;
        }
    
        .backButton{
            width:200px;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            z-index: 10;
            img{
                display: inline-block;
                height: 2.5vh;
                aspect-ratio: 1;
                margin-right: 3px;
        
            }
            p{
                display: inline-block;
            }
        }
    
    }


.flightList{
    width: 90vw;
    top:20vh;
    height: 40vh;
    left:5vw;
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: auto;
    box-shadow: 1px 1px 2px  gray;
    &::-webkit-scrollbar {
        width: 8px;
        position: relative;
        

      }
      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
        margin-bottom: 2vh;
      }
          /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: gray;
        background: gray;
        border-radius: 10px;
      }
  
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: rgba(80, 80, 80, 0.8);
        background-color: rgba(80, 80, 80, 0.8);
      }

    h1{
        margin-left: 5%;
        position: sticky ;
        top:0;
        margin-top: 0;
        display: inline-block;
    }
}

}
